/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
body {
  color: #343434;
}
img {
  width: 300px;
}


/* Profile
------------------------------------*/
header {
  background: #2F3061;
  color: #F7FFF7;
}


/* Projects
------------------------------------*/
.projects {
  background: #F7FFF7;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #A1C6D7;
}


/* Education
------------------------------------*/



/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #F7FFF7;
}
